<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.thezero.blackhole"
    android:versionCode="3"
    android:versionName="1.3">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="org.thezero.blackhole.app.AWSApplication"
        android:description="@string/app_desc"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.AWSActivity"
            android:label="@string/app_title"
            android:launchMode="singleTask"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.thezero.blackhole.app.AWSActivity.ACTION_DISMISS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
		
		<activity 
        	android:name="com.thezero.android.ui.AWSPreferenceActivity"
            android:label="@string/preference_title">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
		</activity>
		
		<service android:name="org.thezero.blackhole.service.HTTPService" />
		
    </application>
</manifest> 